<div class="container mt-5">
<h1>All Restaurants</h1>
<table class="table">
  <thead>
    <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Category</th>
    <th>Phone number</th>
    <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @restaurants.each do |restaurant| %>
      <td><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.category %></td>
      <td><%= restaurant.phone_number %></td>
      <td><%= link_to 'Add new review', new_restaurant_review_path(restaurant) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>

</div>
